body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

.logo {
  max-width: 200px;
  height: auto;
}

main {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-top: 0;
}

#schedule {
  margin-top: 20px;
}

.time-slot {
  margin-bottom: 10px;
}

.time {
  font-weight: bold;
}

.zone {
  margin-left: 20px;
}
