{% extends 'base.html' %}

{% block title %}Upload Daily Schedule{% endblock %}

{% block content %}
    <div class="upload-container">
        <h2>Upload Daily Schedule</h2>
        <form>
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>
        <div id="error-message" class="error-message"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('form').submit(function(event) {
                event.preventDefault();
                var formData = new FormData(this);
                $.ajax({
                    url: '/',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        if (response.redirect) {
                            window.location.href = response.redirect;
                        } else {
                            $('#error-message').text('Unexpected response from the server.');
                        }
                    },
                    error: function(xhr) {
                        var errorMessage = xhr.responseJSON.error;
                        $('#error-message').text(errorMessage);
                    }
                });
            });
        });
    </script>
{% endblock %}
